body{
    background-color: #1b1b1b;
    color: #f3f3f3;
}
button{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    border: 1px solid #1b1b1b;
    background: #1b1b1b;
    margin: 50px;
    
}

.nav{
    width: 100%;
    height: 80px;
    background-color: #e9204f;
    border: 1px solid #e9204f;
    display: flex;
    align-items: center;
    justify-content: center;
}