@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

#result {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 30px;
    font-style: normal;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;

}

#Math-fun {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 30px;
    font-style: normal;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;

}

#head{
     color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: 60px;
    font-style: normal;
    margin: 20px;
}

#form{
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    color: black;
}